.Menu {
    background-color: rgb(70, 70, 253);
    
    color: white;
}

.MenuBtn {
    position: absolute;
    right: 10px;
}

@media screen and (max-width:600px) {
    .MenuBtn {
        position: relative;
        right: 10px;
    }
}

#Home {
    width: 120px;
}

.Content {
    width: 100%;
    text-align: center;
    margin: 20px auto;

}

.Content table{
    text-align: center;
    margin: 20px auto;
    border: 2px solid black;
}

.Content td{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

.Poster {
    width: 300px;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.Bottom {
    background-color: orangered;
}

.Informetion {
    vertical-align: top;
    display: inline-block;
    color: white;
    padding: 5%;
    margin: 0 10%;
}